* {
  margin: 0;
  padding: 0;
}
header {
  background: #e7305b;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.logo {
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
}
.nav-items {
  margin: auto 0;
}
.logo-menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav-list {
  list-style-type: none;
}
.nav-list li{
  display: inline-block;
}
.nav-list li > a, .nav-list button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.nav-list button {
  background: none;
  border: 0;
  cursor: pointer;
}
.nav-list li > a, 
.service-btn {
  margin-right: 20px;
}
.sub-services, .sub-account {
  display: none;
  position: absolute;
  background: #f1f1f1;
  min-width: 160px;
  margin-top: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.sub-services a,
.sub-account a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: #e7305b;
}
.sub-services a:hover,
.sub-account a:hover {
  background: #e7305b;
  color: white;
}

.services:hover #sub-services,
.account:hover #sub-account {
  display: block;
}